[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

div.tweet {
    border: 1px dashed #000000;
    width: 350px;
    height: 180px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: inherit;
}

div.tweet.ng-enter {
    -webkit-transition: 1s;
    transition: 1s;
    background-color: yellow;
}

div.tweet.ng-enter-active {
    background-color: inherit;
}

div.tweet img {
    float: left;
    margin-right: 5px;
}

span.notification {
    opacity: 0;
}

span.notification.ng-enter {
    -webkit-animation: notif-anim 1s;
    animation: notif-anim 1s;
}

@-webkit-keyframes notif-anim {
    50%   { opacity: 1 }
    100% { opacity: 0 }
}
@keyframes notif-anim {
    50%   { opacity: 1 }
    100% { opacity: 0 }
}
