{
  "twitter": {
    "consumer_key": "",
    "consumer_secret": "",
    "access_token": "",
    "access_token_secret": ""
  },
  "session_key": "connect.sid",
  "secret": "SECRET",
  "search": "linux",
  "maxTweets": 20
}
